.wrapper {
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1300px;
    border: 1px solid red;
}

// .main-container {
//     margin: 120px 50px 50px 50px;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
// }

// .main-container-body {
//     display: flex;
//     flex-direction: row;
// }

// .text {
//     flex: 0 1 70%;
//     padding: 30px 20px 30px 100px;
//     background-color: #F7ECE1;
// }

// .image-wrapper {
//     padding-bottom: 50%;

//     flex: 0 1 30%;
//     align-self: center;
//     position: relative;
//     z-index: 20;
//     right: -30px;

//     background-image: url(./rectangle.png);
//     background-repeat: no-repeat;
//     background-size: cover;
// }

// .image {
//     width: 100%;
//     height: 100%;
// }

.main-container-body {
    display: grid;
    grid-template-columns: minmax(400px, 526px) 1fr;
}

.image {
    margin: 50px 0;
}

.image {
    width: 80%;
    height: 80%;

    img {
        width: 100%;
        height: 100%;
    }

}