@import url(../styles/resetstyles.css);
@import url(../fonts/stylesheet.css);
html,
body {
  height: 100%;
}

body {
  font-family: Gilroy;
  color: #333333;
}

/* -Block--------------------------------------------------------------------------------------- */
.block-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

/* --------------------------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1296px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;
}

._top-bg-image {
  background-image: url(../images/header/newsbgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
}

/* Header ------------------------------------------------------------------------------------- */
.header {
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, rgba(37, 37, 45, 0.2136204824) 0%, rgba(37, 37, 45, 0.4349089978) 100%);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 124px;
}

.header__menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item {
  list-style-type: none;
  padding: 0 20px;
}
.menu-item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

.drop-down-menu-news:hover .menu-submenu,
.drop-down-menu-child:hover .menu-submenu,
.drop-down-menu-news:hover .menu-submenu {
  display: block;
}
.drop-down-menu-news .menu-submenu,
.drop-down-menu-child .menu-submenu,
.drop-down-menu-news .menu-submenu {
  display: none;
  position: absolute;
  background: radial-gradient(circle, rgba(69, 69, 73, 0.1996148801) 0%, rgba(55, 48, 50, 0.4769258045) 100%);
}
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper,
.drop-down-menu-child .menu-submenu .menu-submenu-item-wrapper,
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper {
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item,
.drop-down-menu-child .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item,
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item {
  border: 1px solid #333333;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #8D86C9;
}
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item:nth-of-type(1),
.drop-down-menu-child .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item:nth-of-type(1),
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item:nth-of-type(1) {
  border-bottom-left-radius: 10px;
}
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item:nth-last-of-type(1),
.drop-down-menu-child .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item:nth-last-of-type(1),
.drop-down-menu-news .menu-submenu .menu-submenu-item-wrapper .menu-submenu-item:nth-last-of-type(1) {
  border-bottom-right-radius: 10px;
}
.drop-down-menu-news .menu-submenu .menu-subitem,
.drop-down-menu-child .menu-submenu .menu-subitem,
.drop-down-menu-news .menu-submenu .menu-subitem {
  padding: 5px 0;
}
.drop-down-menu-news .menu-submenu .menu-subitem label,
.drop-down-menu-child .menu-submenu .menu-subitem label,
.drop-down-menu-news .menu-submenu .menu-subitem label {
  color: #FFFFFF;
  font-size: 13px;
}

.drop-down-menu-child .menu-submenu .menu-subitem {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 13px;
  padding: 5px;
}

.drop-down-menu-child .menu-submenu .menu-subitem::before {
  content: " ";
  display: inline-block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.favorite-icon::before {
  background-image: url(../icons/header/news/favorite-0.svg);
}

.dark-mode-icon::before {
  background-image: url(../icons/header/news/dark-mode-0.svg);
}

.fire-icon::before {
  background-image: url(../icons/header/news/fire-0.svg);
}

.loyalty-icon::before {
  background-image: url(../icons/header/news/loyalty-0.svg);
}

.favorite-icon:hover:before {
  background-image: url(../icons/header/news/favorite-1.svg);
}

.dark-mode-icon:hover:before {
  background-image: url(../icons/header/news/dark-mode-1.svg);
}

.fire-icon:hover:before {
  background-image: url(../icons/header/news/fire-1.svg);
}

.loyalty-icon:hover:before {
  background-image: url(../icons/header/news/loyalty-1.svg);
}

.header__icons {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.header__icon {
  padding: 0 10px;
}

/* Page ------------------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}

/* Main block ------------------------------------------------------------------------------------- */
.main-block__header h1 {
  padding-top: 124px;
  padding-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #FFFFFF;
}
.main-block__header::before {
  content: " ";
  display: block;
  height: 1px;
  border-top: 1px solid #FFFFFF;
  opacity: 30%;
}

.footer {
  background-color: #F7ECE1;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 96px;
}

.footer__copyright {
  opacity: 0.3;
}

.footer__menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__menu .menu-item a {
  color: #333333;
  font-weight: 500;
}

.footer__icon {
  padding: 0 10px;
}

/* News ------------------------------------------------------------------------------------- */
.news__container {
  margin-top: 80px;
  margin-bottom: 120px;
}

.news__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.item-news {
  padding: 30px 40px;
  border: 1px solid #F7ECE1;
}
.item-news .news__image {
  display: block;
  max-width: 336px;
  max-height: 240px;
}
.item-news .news__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-news .news__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  opacity: 0.5;
}
.item-news .news__date:nth-child(2) {
  margin-top: 25px;
}
.item-news .news__text {
  font-weight: 600;
  font-size: 21px;
  line-height: 140%;
  margin-top: 15px;
}
.item-news .news__text:nth-child(2) {
  margin-top: 25px;
}
.item-news .news__form {
  margin-top: 10px;
  display: flex;
  background-color: red;
}
.item-news .news__button {
  text-align: center;
  padding: 10px 20px;
  background-color: #8D86C9;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 20px;
}
.item-news .news__button:nth-child(2) {
  margin-top: 25px;
}/*# sourceMappingURL=news.css.map */